# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List commonly used open source development environments used by Data Scientists

Some of the popular languages that Data Scientists use are:
1. Phython
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Ggplot
2. Plotty
3. Lattice

| Data Science Tools |
| --- |
| Jupyter Notebook |
| RStudio |
| JuypterLab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Kevin Kluijtmans